<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=devise-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible"
    content="ie=edge">
    <title>URL shortener</title>
</head>
<body>  
    <h1> Bem vindo ao encurtador de URLs</h1>
    <form action="" method="POST">
        <label for="fullUrl">Copie e cole sua URL:</label>
        <input type="url" name="fullUrl" id="campo_url">
        <button type="submit">Enviar</button>

        <table>
            <thead>
                <tr>
                    <th>URL inteira</th>
                    <th>URL encurtada</th>
                </tr>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </thead>
</body>
</html>